modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[userenv]

[userenv.shared]
JWT_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDLYj4doA6auCdk
QoO9lgV6PDDG5kfEMajgHDhCgC7KpTsS0rfVse3bOfLIJPIzhinUWF68qpf0tBWC
qnRdiaNCj4HsFSQwVr/pbadVirNK4f4NwsFDWfqcjIxXx8owAfkSR9aVZuGfIzen
ZqiJNC3k0sb957Bh737ah7WOg2nabb51mDmNt2Cs7iOt0X+k2QexQu5b2uA2mW6P
BrH1iuoAHI6XblcnWz/diFSEe892GeHtWkqd9On4ieIq4r4Qxpkh9AM3ddDh9Me2
vXD0dupUJA5x2cRQdHr0cJMWbnKGp40mMaTSoQf8mG1npFTDNslABeTDtpPXlq+P
FEFvuPhtAgMBAAECggEAKc0emqypq8OTNxBTrtzdcdbaqJquX+TcAnnSV1qso1JL
/q2oAogQLMlvfJLZY90cjkv+ZrUCR9VWgXVittHh5/2CVMEwn63IwmOa66I3APpL
Ys0nNx5Qe6oIc0c5J15UcJ0qvai4USKmHuYi2BZNI3Vt2EQtFKfqcORJHMomMLIU
2I/1HG84a50gwZZazEkhtESH7ChyIeS4DX2aNgzEgyjxKpJlkqSwJxzfXw9lqIvD
qE08MmYlWd0apLKOU4PgLsMO6jjTjqdwAyhcts73bSD81oMdO8zhzZfhMWl+QVkR
zXK+N5IzycCpuPY5ypfWJCOPTYsAXIu3Ghb7/tLneQKBgQD8Tpw6h4Ci4sAR2aC0
5QCCKG6ew4BnG/Od/0Go+CGmi7k8cj0J8DNLEdxZU8GbQwlAjrBt19LiBSziv4DY
waLraOPNWCWZ2ejJd7RBjWq7hLvgMOy+hq0wYi9QV9NHgsqdC4JhbMzCXSM/gL9b
XGm3AvVErYy9QsF593cU/LRUSQKBgQDOXFFSs/h0FHPmBFk6fWdab8LkumPdpEnq
FQKHSwotc8y29vcTS5dyWGSmIKX35Vy79RDkOfEFPzXkyD6WdWEjh+t+PEFhba3b
AhUs4/tc/LLlmaPSpCGL82wNEAW5Ze9cZcPiypV5veCF60RF0lKRB59NFSe05xPx
oJoZDZK7BQKBgQDUE4OQUvuWbsCBgItr4h2WSkQJYU1Z3g3dXYSkccVfR4zxORkD
dIq47A9qalOPnT52rDmyarpQz4bWJaA5EjJObAEnRpN8icT5K4wxmZwAeOau4JDu
6SdERxN8FgZ60n5amSUDnT9TlJQfOaofMkON2IevLa3iG+2jBpZq5qrxOQKBgFz6
2aWS85qR8JquUOn6wQvNmZnnpcGjGa7AIrCFDiPmrlGuOytVfvqFe2wi/8UPclY6
GI9M0B1WGtlnpFO0tb0FrATn72mPuqsYaCQe4Q5Hye+L53WsgHUHjCLimkGr/Uq7
i6RvNSRyemy80blIB+3S6mMX6hknmSPhAi3RoNBlAoGAD69WA92lJMKc6AbULoDV
8Pw65RJtwuJGf/y0L4lbMIv0DiSKYeYVRs79CouNccgrdfHtm0GxHGjt6Y/vjEAS
0MNaZC4OK6uWqSZMN7j2YSjCZedUNw8oyfi0JyfBSx4MhY0ElJfvmZP3Fge7Dqhs
0MTYKzOEUPGblO95h7AZ3Ng=
-----END PRIVATE KEY-----
"""
JWT_PUBLIC_KEY = """
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAy2I+HaAOmrgnZEKDvZYF
ejwwxuZHxDGo4Bw4QoAuyqU7EtK31bHt2znyyCTyM4Yp1FhevKqX9LQVgqp0XYmj
Qo+B7BUkMFa/6W2nVYqzSuH+DcLBQ1n6nIyMV8fKMAH5EkfWlWbhnyM3p2aoiTQt
5NLG/eewYe9+2oe1joNp2m2+dZg5jbdgrO4jrdF/pNkHsULuW9rgNplujwax9Yrq
AByOl25XJ1s/3YhUhHvPdhnh7VpKnfTp+IniKuK+EMaZIfQDN3XQ4fTHtr1w9Hbq
VCQOcdnEUHR69HCTFm5yhqeNJjGk0qEH/JhtZ6RUwzbJQAXkw7aT15avjxRBb7j4
bQIDAQAB
-----END PUBLIC KEY-----
"""
ADMIN_API_KEY = "admin_dfdb6e7baa57da581b12a471ae193cfb7d53f597dc42571864511520e0250533"
CORS_ORIGINS = "*"
ENTITLEMENT_TTL_SECONDS = "86400"
REFRESH_TOKEN_TTL_DAYS = "30"
OFFLINE_GRACE_HOURS = "72"
